<header>
  <nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <div class="container-fluid">

      <a class="navbar-brand" href="/">
        <h3>Zulu Watches</h3>
      </a>

      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item  %> ">
            <a class="nav-link" href="/login"><img
                src="https://cdn2.iconfinder.com/data/icons/user-interface-line-38/24/Untitled-5-30-512.png" height="28"
                width="28" /> </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>