<!DOCTYPE html>
<!DOCTYPE html>
<html lang="es">


<head>
    <%- include(`./partials/head`) %>
</head>

<body class="bg-light">
    <header>
        <%- include('./partials/header') %>
    </header>
    <div class="jumbotron">
        <div class="d-flex flex-column justify-content-center">
            <img src="https://images.unsplash.com/photo-1606750159182-3b3975faee66?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
                class="img-fluid" alt="logo">
            <hr class="my-4">
            <img src="https://images.unsplash.com/photo-1604242692760-2f7b0c26856d?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2069&q=80"
                alt="banner" class="img-fluid">
            <hr class="my-4">
        </div>

</body>

<footer>
    <%- include('./partials/footer') %>
</footer>

</html>