<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>3ra entrega Proyecto final </title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css"
        integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
</head>

<body>
    <header>
        <%- include('./partials/header') %>
    </header>

    <main>
        <div class="jumbotron">
            <main>
                <div class="mt-5">
                    <h3> Hasta Pronto <%= userLogout %> ! Gracias por utilizar nuestra app</h3>
                </div>
            </main>
        </div>
    </main>

    <footer>
        <%- include('./partials/footer') %>
    </footer>

</body>

</html>